# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/

# Modèles ML (trop lourds pour GitHub)
ml/models/*.pkl

# Dataset (trop lourd pour GitHub)
ml/data/patients_50000.csv

# Environnement
.env
venv/
env/

# OS
.DS_Store
Thumbs.db
*.log

# IDE
.vscode/settings.json
.idea/

# Frontend dependencies
frontend/node_modules/

# Jupyter
.ipynb_checkpoints/
